@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-font-color: #eaeaea;
  --dark-font-color: black;
  --color-primary: #BBC5C8;
  --color-primary2: #69797c;
  --color-primary3: #687e84;
  --color-secondary: #fcd19c;
  --color-tertiary: #263d42;
  --color-red-accent: #823038;
  --color-orange-accent: #DEAD8C;
  --color-green-accent: #778770;
  --color-brown-accent: #A76152;
  --color-extra-accent2: #53131E;
  --color-extra-accent: #3C1518;
  --color-yellow-accent: #FCD19C;
  --color-purple-accent: #90708C;
  --color-extra-accent3: #587D71;
  --color-extra-accent4: #B5BD89;
  --color-extra-accent5: #d3e4df;
  --color-light-orange-accent: #FAE3C6;
  --color-extra-accent6: #5B2333;
  --color-extra-accent7: #A8763E;
  --color-extra-accent8: #7F534B;
  --color-extra-accent9: #7D6167;
  --color-extra-accent10: #754F5B;
  --color-extra-accent11: #C17767;
  --color-extra-accent12: #FFDB99;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}