/* #region General */
.underline {
  display: block;
  width: 20vw;
  height: 3px;
  padding: 0 !important;
  margin-bottom: 1em;
  background: var(--dark-font-color);
}

.section-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 15vh 0;
}

.lightweight {
  font-weight: lighter;
}

.section-header {
  font-size: 2.5em;
  font-weight: lighter;
  margin: 0.3em 0 0.3em 0;
}

.subsection-header {
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 0.3em;
}

.subsection-underline {
  display: block;
  width: 15vw;
  height: 2.5px;
  padding: 0 !important;
  margin-bottom: 1em;
  background: var(--dark-font-color);
}

/* .center {} */

.left {}

/* #endregion General */

/* #region Parallax Banner */
.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040a0a;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.inset {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(#232a2b 50%, #232a2b);
}

.banner-intro {
  font-size: 4vw;
}

.banner-downarrow {
  cursor: pointer;
}

/* .downarrow-style {
  vertical-align: middle;
} */

/* @media (min-width: 821px) {
  .downarrow-style {
    size: 3vw;
  }
} */

.view-work {
  margin-top: 0;
  font-size: 9vw;
  /* border: 2px solid var(--dark-font-color); */
  padding: 10px 8px;
  /* vertical-align: middle; */
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (min-width: 940px) {
  .view-work {
    margin-top: 0.5em;
    font-size: 4vw;
  }

  .banner-intro {
    font-size: 8vw;
  }
}

.view-work:hover {
  background-color: var(--color-secondary);
  /* background-color: #243737; */
  /* border: 2px solid #243737; */
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* #endregion Parallax Banner */

/* #region About */
.about-intro {
  opacity: 0;
  transition: all 1s ease-in;
}

.about-intro.visible {
  opacity: 1;
}

.section-about {
  width: 55%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .section-about {
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (max-width: 1060px) {
  .section-about {
    width: 70%;
  }
}

.about-headshot {
  width: 8em;
  border-radius: 50%;
  box-shadow: 3px 3px 3px var(--color-tertiary);
  vertical-align: middle;
  opacity: 0;
  transition: all 1.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@media screen and (max-width: 640px) {
  .about-headshot {
    margin-top: 2em;
    width: 10em;
  }
}

.about-headshot.visible {
  opacity: 1;
}

.about-container {
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
}

.about-description {
  vertical-align: middle;
  opacity: 0;
  transition: all 1s ease-in;
}

.about-description.visible {
  opacity: 1;
}

.about-hobby {
  vertical-align: middle;
  opacity: 0;
  transition: all 1.3s ease-in-out;
}

.about-hobby.visible {
  opacity: 1;
}

/* #endregion About */

/* #region Timeline */
.word-bg {
  position: absolute;
  margin-top: 0;
  top: 0;
  font-size: 30vw;
  z-index: -100;
}

.slider-section {
  text-align: center;
}

.slider-section h3 {
  margin-bottom: 0.3em;
}

.slider-section h4 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.slider-section h5 {
  margin-top: 0.3em;
}

.slider-section p {
  padding: 0 1.5em;
}

.slider-desc-span {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 0.5em;
  color: var(--color-brown-accent);
}

@media screen and (max-width: 580px) {
  .slider-section h4 {
    display: flex;
    flex-direction: column;
  }
}

.slick-track {
  display: flex !important;
  /* background-color: rgba(234, 234, 234, 0.2); */
  /* border: rgba(234, 234, 234, 0.6) solid 2px; */
}

.slick-slide {
  height: inherit !important;
}

.slick-dots li button:before {
  color: var(--light-font-color) !important;
}

svg.slick-prev,
svg.slick-next {
  transition: ease-out 0.7s;
  color: var(--light-font-color);
}

/* Slick arrows */
svg.slick-prev:hover,
svg.slick-next:hover {
  transition: ease-out 0.7s;
  color: var(--color-brown-accent);
}

/* .slider-section:before {
  opacity: .5;
  z-index: -1;
  background-color: rgba(234, 234, 234, 0.5);
} */

*:focus {
  outline: 0;
  outline: none;
}

/* .slick-dots li.slick-active button:before {
  color: var(--light-font-color) !important;
}

.slick-dots li button:before {
  color: var(--light-font-color) !important;
} */

.timeline-format {
  padding-top: 20px;
  width: 80%;
  margin-bottom: 1em;
}

.column {
  margin-bottom: 30px;
}

.dates {
  color: var(--color-extra-accent5);
  text-align: left;
  padding: 0 0 5px 0
}

.job-descriptions {
  padding: 0 0 5px 0;
}

.job-subdescriptions {
  /* padding: 0 0 10px 0; */
  /* font-weight: bold; */
}

.job-title {
  font-weight: bold;
  margin-right: 0.30em;
}

.company-name {
  margin-left: 0.25em;
  color: var(--color-extra-accent5);
  font-size: 14px;
}

.separator {
  color: var(--color-brown-accent);
  font-weight: bold;
}

.underline-job-desc {
  display: block;
  width: 15vw;
  height: 2px;
  padding: 0 !important;
  margin: 0.5em 0;
  background: var(--color-extra-accent5);
}


@media screen and (min-width: 750px) {
  .timeline-format {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .dates {
    min-width: 100px;
    text-align: right;
    padding: 0 30px 0 0;
    flex: 0 0 200px;
  }

  .job-descriptions {
    flex: 1;
  }
}

/* #endregion Timeline */

/* #region Resume */
.resume {
  width: 80%;
  height: 90%;
  clear: both;
}

.resume-button {
  background-color: #040a0a;
  color: var(--light-font-color);
  border: none;
  cursor: pointer;
}

.resume-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* #endregion Resume */

/* #region Skills */
.skills-resume {
  margin-top: 3em;
  text-align: center;
}

.skills-resume a {
  font-weight: bold;
  transition: 1s ease-in-out;
  text-decoration: none;
}

.resume-link {
  background: linear-gradient(90deg, var(--color-orange-accent), var(--color-orange-accent));
  background-position: 0.25em 0.7em;
  background-repeat: no-repeat;
  padding-inline-end: 0.25em;
  line-height: 1.5;
}

.resume-link a:visited {
  color: var(--dark-font-color);
}

.skills-resume a:hover {
  transition: 0.5s ease-in-out;
  color: var(--color-extra-accent11);
}

/* #endregion Skills */

/* #region Projects */
.project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.project-card {
  flex: none;
  display: block;
  border-radius: 50% 20% / 10% 40%;
}

@media screen and (min-width: 600px) {
  .project-grid {
    width: 80%;
  }

  .project-card {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .project-card {
    width: 33.3333%;
  }
}

@media screen and (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}

.project-card figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.project-card img {
  display: block;
  width: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: scale(1);
  opacity: 0;
  transition: .5s ease-in-out;
  background-color: var(--color-tertiary);
  text-align: center;
  font-size: 2vh;
}

.overlay h4 {
  margin-bottom: 0;
  vertical-align: center;
}

.overlay h4 p {
  margin: 0px;
  vertical-align: center;
}

.overlay:hover {
  transition: .5s ease-in-out;
  opacity: 0.5;
}

.overlay:hover p {
  opacity: 1 !important;
}

/* Make mobile and tablet friendly for no hover */
@media screen and (max-width: 1024px) {
  .overlay {
    opacity: 0.5;
    font-size: 1.5vh;
  }

  .overlay p {
    opacity: 1 !important;
  }

  div.project-card figure img {
    transform: scale(1.1);
    filter: blur(3px);
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    font-size: 2vh;
  }
}

div.project-card figure img {
  transition: transform 0.5s ease-in-out;
}

div.project-card figure:hover img {
  transform: scale(1.1);
  filter: blur(3px);
}

/* #endregion Projects */

/* #region Social Links */
.social-styles {
  margin: 0 2em 1em 2em;
  text-decoration: none;
  color: var(--dark-font-color);
  transition: all .3s ease-in;
}

@media screen and (max-width: 460px) {
  .social-styles {}
}

.social-styles:hover {
  transition: all .5s ease-in;
  color: var(--light-font-color);
}

/* #endregion Social Links */